.git
.github
node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
dist
**/dist
out
build
*.tsbuildinfo
**/*.tsbuildinfo
.env
.env.*
!.env.example
*.log
.DS_Store
Jenkinsfile
**/Dockerfile
.dockerignore
